@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
header {
  display: flex;
  flex-direction: row;
  background-color: rgb(166, 213, 253);
  width: 100%;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 10px;
}
header nav button {
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}
.logo img {
  height: 100%;
}

body p {
  font-family: "Delius", cursive;
  text-align: center;
}
#destinos {
  font-family: "Delius", cursive;
  text-align: center;
}
